<mat-toolbar class="header mat-elevation-z4" >
   <a routerLink="/inicio"> </a>
   
        <span class="title-group logo">
            <a routerLink="{{routeUrl}}">
                <i class="material-icons ">
                   {{icon}}
                </i>
               {{title}}
            </a>
        </span>

        <span class="spacer"></span>
        <button mat-icon-button (click)="removeToken()" routerLink="login">
         <mat-icon>logout</mat-icon>
        </button>

      
    
   

</mat-toolbar>
