<mat-card>
    <mat-card-title>Excluir Cliente</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="clients.name"  name="name" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Email" type="email" [(ngModel)]="clients.email"  name="email" disabled>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Telefone"  type="tel" [(ngModel)]="clients.telefone" maxlength="15" name="telefone" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput  placeholder="CPF" type="text" [(ngModel)]="clients.cpf"  name="cpf" disabled>
        </mat-form-field>

        
    </form>
    <button mat-raised-button (click)="deleteClients()"  color="warn">
        Excluir
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>

